body{
  background-color:#0f0f0f;
  color:white;
}

.banner{
  background-image:url("../imagenes/Regretevator.jpg");
  background-size:cover;
  background-position:center;
  height:220px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:50px;
  font-weight:bold;
  text-shadow:2px 2px 10px black;
}

.card{
  background-color:#1e1e1e;
  border:1px solid #ff2c2c;
}

.card:hover{
  transform:scale(1.03);
  transition:0.3s;
}